@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    @*<link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css" />*@
    <title>TALHA EJAZ - CV</title>
    <style>
        img {
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <div id="header">
        <h2>Talha Ejaz</h2>
        <img src="~/image/talha.jpg" alt="Avatar" style="width:150px">
        <p id="name"> NAME : Talha Ejaz</p>
        <a href="mailto:talhaejazup@gmail.com" target="_blank"><p id="email">talhaejazup@gmail.com</p></a>
        <p id="contact"> PHONE: +92 333 1469946</p>
    </div>
    <div class="left">
    </div>
    <div class="right">
        <h3>OBJECTIVE</h3>
        <p style="text-align: justify;">
            I highly aim to build a long-term and sustainable career as web designer and developer with opportunities for career growth and get the advanced knowledge to excel in this increasingly important area.
            I have been involved in the management and development of different projects.
            I want to work as an associate backend developer in your company.
        </p>
        <h3>Professional Experience</h3>
        <h4 id="company-name">Softrobo Systems Pvt Ltd</h4>
        <p id="job-title"><strong>Web Backend Internee</strong></p>
        <p id="job-responsibilities">Job Responsbilities</p>
        <p>
            <ul>
                <li>Answer customer queries over email and skype</li>
                <li>Interact with clients to get web issues and bugs resolved</li>
                <li>Contribute ideas to the team on how customers can be delighted</li>
            </ul>
        </p>
        <h3>Educational Qualifications</h3>
        <table>
            <tr id="heading">
                <td><b>Qualification</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td><b>Board</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td><b>Percentage / CGPA </b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td><b>Y    ear</b></td>
            </tr>

            <tr>
                <td>BS(CS) &nbsp; &nbsp;</td>
                <td>PUCIT, Lahore &nbsp; &nbsp; &nbsp;</td>
                <td>3.45 CGPA &nbsp; &nbsp;</td>
                <td>2018 - To Date &nbsp; &nbsp;</td>
            </tr>
            <tr>
                <td>Intermediate &nbsp; &nbsp;</td>
                <td>BISE Lahore &nbsp; &nbsp; &nbsp;</td>
                <td>85.27% &nbsp; &nbsp;</td>
                <td>2018 &nbsp; &nbsp;</td>
            </tr>
            <tr>
                <td>Matric &nbsp; &nbsp;</td>
                <td>BISE Lahore &nbsp; &nbsp; &nbsp;</td>
                <td>88.55% &nbsp; &nbsp;</td>
                <td>2016 &nbsp; &nbsp;</td>
            </tr>
        </table>
        <h3>Independent Courses</h3>
        <p>
            <ul>
                <li>
                    <span id="course-name">Front-End Web Development EVS Learning, Lahore</span> – Evslearning.com
                </li>
                <li>
                    <span id="course-name">Graphic Designing from ICT Training, Lahore</span> – ICT-training.com
                </li>
            </ul>
            <h3>Technical Skills</h3>
        <p>
            <ul>
                <li>
                    <span id="course-name">Operating Systems:</span> Windows 7, Windows 10, Linux (Ubuntu, Kali)
                </li>
                <li>
                    <span id="course-name">Application Software:</span> Office 2013, Office 2016, Visual Studio 2017, Visual Studio 2019, VS Code
                </li>
                <li>
                    <span id="course-name">Programming Skills:</span> HTML, CSS, JQuery, JavaScript, Bootstarp, PHP, C and C++, C#
                </li>
            </ul>
        </p>
        <h3>Certifications / Awards:</h3>
        <p>
            <ul>
                <li>Blood Manager, Blood Donor Society(BDS), Punjab University College of Information Technology</li>
                <li>Blood Organizer, Blood Donor Society(BDS), Punjab University College of Information Technology</li>
            </ul>
        </p>
        <h3>Personal Information:</h3>
        <p>
            <ul>
                <li>
                    A young, determined, hard-working and smart working person.
                <li>
                    <span id="course-name">Languages Known: </span>English, Urdu and Punjabi
                </li>
                <li>
                    <span id="course-name">Hobbies: </span>I love reading IT / Motivation related books / magazines, playing snooker, listening music, surfing Internet, watching season on Netflix.
                </li>
            </ul>
        </p>
        <h3>Other Information</h3>
        <p>
            <ul>
                <li>
                    <span id="course-name">Expected Salary: </span>As per company standards
                </li>
                <li>
                    <span id="course-name">Area of Interest: </span>Software Development, Programming, Start-ups, Coding, Web-App Development
                </li>
                <li>
                    <span id="course-name">Joining Date: </span>Immediate
                </li>
            </ul>
        </p>
        <h3>Declaration</h3>
        <p>
            I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.
        </p>
    </div>
    <div id="footer"></div>
</body>
</html>